html, body{
  height: 100%;
  margin: 0;
}
body{
  background-color: rgb(242, 211, 243);
  font-family: Arial, sans-serif;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  display: flex;
}
header{
  background-color: rgb(254, 181, 244);
  padding: 10px;
  color: white;
}
main{
  flex: 1;
}
button{
  background-color: rgb(243, 203, 255);
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
}
.Home_Main_nav{
  background-color: rgb(254, 139, 239);
}

/*.Home_Section{}*/
.Home_Section_Main_BgP{
  background-image: url('https://i.imgur.com/4Cd9CNf.png');
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
	text-align: center;
  position: relative;
  display: flex;
  height: 100vh;
  color: white;
}
.Home_Section_Main_Txt{
  background-color: rgba(0, 0, 0, 0.4);
  border: 8px solid rgb(254, 181, 244);
  pointer-events: none;
  padding-right: 100px;
  border-radius: 50px;
  padding-left: 100px;
  margin-top: 150px;
  font-size: 25px;
  padding: 25px;
}
.Home_Section_Sub_Txt{
  background-color: rgba(0, 0, 0, 0.4);
  border: 8px solid rgb(254, 181, 244);
  pointer-events: none;
  padding-right: 100px;
  border-radius: 50px;
  padding-left: 100px;
  margin-top: 50px;
  font-size: 15px;
  padding: 25px;
}

/*.About_Section{}*/
.About_Section_BgP{
  background-image: url('https://i.imgur.com/nQQQThD.png');
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  display: flex;
  height: 100vh;
  color: white;
}
.About_Section_Top_Txt{
  background-color: rgba(0, 0, 0, 0.4);
  border: 8px solid rgb(254, 181, 244);
  pointer-events: none;
  padding-right: 100px;
  border-radius: 50px;
  padding-left: 100px;
  margin-top: 100px;
  font-size: 25px;
  padding: 25px;
}
.About_Section_Sub_Txt{
  background-color: rgba(0, 0, 0, 0.4);
  border: 8px solid rgb(254, 181, 244);
  pointer-events: none;
  padding-right: 100px;
  border-radius: 50px;
  padding-left: 100px;
  margin-top: 25px;
  font-size: 15px;
  padding: 25px;
}

/*.ModTrilogy_Section{}*/
.ModTrilogy_Section_Back_Button{
  margin-left: 20px;
  margin-top: 25px;
  float: left;
}
.ModTrilogy_Section_BgP{
  background-image: url('https://i.imgur.com/ebCfzNc.png');
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  display: flex;
  height: 100vh;
  color: white;
}
.ModTrilogy_Section_BgP2{
  background-image: url('https://i.imgur.com/sx6QP1d.png');
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  display: flex;
  height: 100vh;
  color: white;
}
.ModTrilogy_Section_div{
  margin-top: 40px;
}
.ModTrilogy_Section_Txt{
  background-color: rgba(0, 0, 0, 0.4);
  border: 8px solid rgb(254, 181, 244);
  padding-right: 100px;
  border-radius: 50px;
  padding-left: 100px;
  margin-top: 200px;
  font-size: 25px;
  padding: 30px;
}
.ModTrilogy_h2{
  text-decoration: underline;
  color: rgb(170, 19, 150);
  font-size: 50px;
}
.ModTrilogy_h3{
  text-decoration: underline;
  color: rgb(191, 0, 2);
}
.ModTrilogy_ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.ModTrilogy_p_li{
  margin-bottom: 5px;
}

/*.Characters_Section{}*/
.Characters_Section_BgP{
  background-image: url('https://i.imgur.com/4Cd9CNf.png');
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  display: flex;
  height: 100vh;
  color: white;
}
.Characters_Section_Back_Button{
  margin-left: 20px;
  margin-top: 15px;
  float: left;
}
.Characters_Section_Img{
  padding-right: 20px;
  margin-top: 100px;
  width: 200px;
  float: left;
}
.Characters_Section_Portrait_Img{
  padding-right: 20px;
  margin-left: -50px;
  margin-top: 240px;
  width: 250px;
  float: left;
}
.Characters_Section_Top_Text{
  text-decoration: underline;
  color: rgb(170, 19, 150);
  text-align: center;
  margin-top: 150px;
  font-size: 40px;
}
.Characters_Section_Sub_Text{
  border: 2px dashed rgb(220, 185, 215);
  border-width: thick;
  margin-right: 30px;
  border-radius: 8px;
  margin-left: 355px;
  text-align: left;
  font-size: 16px;
  padding: 10px;
}
.Characters_Section_Panel{
  border: 2px solid rgb(220, 185, 215);
  margin-bottom: 10px;
  margin-right: 150px;
  border-radius: 8px;
  text-align: center;
  margin-left: 450px;
  font-size: 16px;
  padding: 15px;
}
.Characters_Section_Top_Text_NoImage{
  text-decoration: underline;
  color: rgb(170, 19, 150);
  text-align: center;
  margin-top: 150px;
  font-size: 40px;
}
.Characters_Section_Sub_Text_NoImage{
  border: 2px dashed rgb(220, 185, 215);
  border-width: thick;
  margin-right: 200px;
  border-radius: 8px;
  margin-left: 200px;
  text-align: left;
  font-size: 16px;
  padding: 10px;
}
.Characters_Section_Panel_NoImage{
  border: 2px solid rgb(220, 185, 215);
  margin-right: 300px;
  border-radius: 8px;
  text-align: center;
  margin-left: 300px;
  font-size: 16px;
  padding: 15px;
}

/*.Clarifications_Section{}*/
.Clarifications_Section_h1{
  text-decoration: underline;
  color: rgb(191, 0, 0);
  font-size: 45px;
}
.Clarifications_Section_div_nav{
  margin-bottom: 25px;
  margin-right: 250px;
  margin-left: 250px;
  text-align: center;
  margin-top: 20px;
}
.Clarifications_Section_Button{
  margin-bottom: 25px;
  font-size: 15px;
}
.Clarifications_Section_Back_Button{
  margin-left: 20px;
	margin-top: 15px;
  float: left;
}
.Clarifications_Section_h2{
  font-size: 25px;
}
.Clarifications_Section_Panel{
  border: 2px solid rgb(220, 185, 215);
  margin-right: 200px;
  border-radius: 8px;
  text-align: center;
  margin-left: 200px;
  margin-top: 40px;
  font-size: 16px;
  padding: 15px;
}
.Clarifications_Section_Top_Text{
  text-decoration: underline;
  color: rgb(170, 19, 150);
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}
.Clarifications_Section_Sub_Text{
  font-size: 16px;
}

/*.Bugs_Section{}*/
.Bugs_Section_div{
  text-align: left;
}
.Bugs_Section_h1_h2{
  text-align: center;
}
.Bugs_Section_Build{
  font-weight: bold;
}
.Bugs_Section_Button_Top_Text{
  background-color: rgb(243, 203, 255);
  box-sizing: border-box;
  word-wrap: break-word;
  pointer-events: none;
  border-radius: 15px;
  text-overflow: clip;
  white-space: normal;
  padding: 10px 20px;
  max-width: 1000px;
  overflow: visible;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}
.Bugs_Section_Button_Sub_Text{
	background-color: rgb(243, 203, 255);
  pointer-events: none;
  border-radius: 15px;
  padding: 10px 20px;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  margin: 5px;
}

/*.Contact_Section{}*/
.Contact_Section_Button_Panel{
  background-color: rgb(243, 203, 255);
  pointer-events: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px;
}
.page{
	display: none;
}
footer{
  background-color: rgb(254, 181, 244);
  text-align: center;
  padding: 20px;
}
